#body{
    color: #001f3d;
    background-color: #001f3d;
}
#head{
    background-color: #f8dcbf;
    color: #001f3d;
    width: 95%;
    margin-top: 0;
    margin-left: 0;
    margin-right: ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    text-align: right ;
    padding-right:5%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 10%;

}
#st{
        border-radius: 25px;
        background: #f8dcbf;
        padding: 20px;
        width: 300px;
        height: 400px;
        margin-right: 20px;
        margin-left: 20px;
}
#nd{ 
        border-radius: 25px;
        background: #f8dcbf;
        padding: 20px;
        width: 300px;
        height: 400px;
        margin-right: 20px;
        margin-left: 20px;
}
#rd{ 
        border-radius: 25px;
        background: #f8dcbf;
        padding: 20px;
        width: 300px;
        height: 400px;
        margin-right: 20px;
        margin-left: 20px;
}
a{
        text-decoration: none;
        color: #001f3d;
}
a:hover{
        color: #003d7a;
}
